.field-widget-options-sort-checkboxes {
  position: relative;
}
.field-widget-options-sort-checkboxes .field-prefix {
  position: absolute;
  right: 0px;
  width: 50%;
  height: 100%;
}
.field-widget-options-sort-checkboxes .field-prefix fieldset {
  margin: 0;
}
